<fieldset id="{{form.vars.id}}">
  <div class="row">
    <div class="col s6">
      {{ form_label(form.jobTitle) }}
      {{ form_widget(form.jobTitle) }}
    </div>
    <div class="col s6">
      {{ form_label(form.companyName) }}
      {{ form_widget(form.companyName) }}
    </div>
    <div class="col s6">
      {{ form_label(form.dateStarted) }}
      {{ form_widget(form.dateStarted) }}
    </div>
    <div class="col s6">
      {{ form_label(form.dateFinished) }}
      {{ form_widget(form.dateFinished) }}
      <div class="">
        {{ form_widget(form.isCurrent, {'attr': {'data-disable': form.dateFinished.vars.id} }) }}
        {{ form_label(form.isCurrent) }}
      </div>
    </div>

    <div class="col s12">
      {{ form_label(form.location) }}
      {{ form_widget(form.location) }}
    </div>
    <div class="col s12">
      {{ form_label(form.description) }}
      {{ form_widget(form.description) }}
    </div>
  </div>

  <a href="#{{form.vars.id}}" class="remove_fieldset waves-effect waves-light btn red"><i class="material-icons left">delete</i>Delete</a>
</fieldset>