<fieldset id="{{form.vars.id}}">
  <div class="row">
    <div class="col s4">
      {{ form_label(form.instituteName) }}
      {{ form_widget(form.instituteName) }}
    </div>
    <div class="col s4">
      {{ form_label(form.degree) }}
      {{ form_widget(form.degree) }}
    </div>
    <div class="col s4">
      {{ form_label(form.dateFinished) }}
      {{ form_widget(form.dateFinished) }}
    </div>
    <div class="col s12">
      {{ form_label(form.location) }}
      {{ form_widget(form.location) }}
    </div>
  </div>

  <a href="#{{form.vars.id}}" class="remove_fieldset btn red">Remove</a>
</fieldset>