<fieldset id="{{form.vars.id}}">
  <div class="">
    {{ form_label(form.fullName) }}
    {{ form_widget(form.fullName) }}
  </div>
  <div class="">
    {{ form_label(form.jobTitle) }}
    {{ form_widget(form.jobTitle) }}
  </div>
  <div class="">
    {{ form_label(form.organization) }}
    {{ form_widget(form.organization) }}
  </div>  
  <div class="">
    {{ form_label(form.relationship) }}
    {{ form_widget(form.relationship) }}
  </div>
  <div class="">
    {{ form_label(form.phone) }}
    {{ form_widget(form.phone, {'attr': {'class': 'js-phone-mask'} } ) }}
  </div>
  <div class="">
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
  </div>
  <a href="#{{form.vars.id}}" class="remove_fieldset btn red">Remove</a>
</fieldset>