<form method="POST" class="js-api_users_update ui form" action="{{ path( 'api.userAction', {'id': user.id} ) }}" {{ form_enctype(form) }}>
  <div id="errors">{{form_errors(form)}}</div>
  <div class="two fields">
    <div class="field">
      {{form_row(form.firstName)}}
    </div>
    <div class="field">
      {{form_row(form.lastName)}}
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      {{form_row(form.email)}}
    </div>
    <div class="field">
      {{form_row(form.industry)}}
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      {{form_row(form.location)}}
    </div>
    <div class="field">
      {{form_row(form.phone)}}
    </div>
  </div>
  <div class="field">
    {{form_row(form.status)}}
  </div>
  {{form_rest(form)}}
  
  <button type="submit" class="ui button primary">Submit</button>
</form>
