<table class="container container-header">
  <tr>
    <td class="header user-name">
      <p>{{user.firstname}} {{user.lastname}}</p>
    </td>
    <td class="header align-right user-contact">
      <p>email: {{user.email}}</p>
      <p>phone: {{user.phone}}</p>
    </td>
  </tr>
</table>
<!-- END DOCUMENT HEADER -->


<table class="container container-body">
  <tr>
    <td class="field-name">
      <p>summary</p>
    </td>
    <td class="field-value">
      {{user.description|raw}}
    </td>
  </tr>
</table>
<hr class="line-separator">
<!-- END SUMMARY -->

{% if user.skills.snapshot %}
<table class="container container-body">
  <tr>
    <td class="field-name">
      <p>skills</p>
    </td>
    <td class="field-value">
      {% if user.skills %}
        {% for item in user.skills %}
            <p>{{item.skillname}}</p>
        {% endfor %}
      {% endif %}
    </td>
  </tr>
</table>
<hr class="line-separator">
<!-- END SKILLS -->
{% endif %}


{% if user.certificates.snapshot %}
<table class="container container-body">
  <tr>
    <td class="field-name">
      <p>certificates</p>
    </td>
    <td class="field-value">
      {% if user.certificates %}
        {% for item in user.certificates %}
            <p>{{item.certificatename}}</p>
        {% endfor %}
      {% endif %}
    </td>
  </tr>
</table>
<hr class="line-separator">
<!-- END CERTIFICATES -->
{% endif %}


{% if user.companies.snapshot %}
<table class="container container-body">
  <tr>
    <td class="field-name">
      <p>employment</p>
    </td>
    <td class="field-value">
      {% for item in user.companies %}
        <p><span class="font-big">{{item.companyname}}</span> <span class="font-small">({{item.datestarted|date('M Y')}} - {{item.isCurrent ? 'present' : item.datefinished|date('M Y')}})</span></p>
        <p><i>{{item.jobtitle}}</i></p>
        <p>{{item.description|raw}}</p>
      {% endfor %}
    </td>
  </tr>
</table>
<hr class="line-separator">
<!-- END EMPLOYMENT -->
{% endif %}

{% if user.educations.snapshot %}
<table class="container container-body">
  <tr>
    <td class="field-name">
      <p>education</p>
    </td>
    <td class="field-value">
      {% for item in user.educations %}
        <p><span class="font-big">{{item.institutename}}</span> <span class="font-small">{{item.location}}</span></p>
        <p>{{item.degree|raw}}</p>
        <p>{{item.dateFinished |date("d/m/Y")}}</p>
      {% endfor %}
    </td>
  </tr>
</table>
{% endif %}
<!-- END EDUCATION -->

            
 



