<table class="container container-header">
  <tr>
    <td class="header align-center">
      <h1 class="header-title">{{user.firstname}} {{user.lastname}}</h1>
      <p>{{user.location}}</p>
      <p>{{user.phone}}</p>
      <p>{{user.email}}</p>
    </td>
  </tr>
</table>
<!-- END DOCUMENT HEADER -->



<table class="container container-body">
  <tr>
    <td class="field-name">
      <p class="field-name-title">Summary:</p>
    </td>
  </tr>
  <tr>
    <td class="field-value">
      {{user.description|raw}}
    </td>
  </tr>
</table>
<!-- END SUMMARY -->


{% if user.skills.snapshot %}
<table class="container container-body">
  <tr>
    <td class="field-name">
      <p class="field-name-title">Areas of special emphasis:</p>
    </td>
  </tr>
  <tr>
    <td class="field-value">
      {% if user.skills %}
        
        {% for item in user.skills %}
            <p class="list"><span class="list-arrow-shadow">&#216;&nbsp;&nbsp;&nbsp;</span>{{item.skillname}}</p>
        {% endfor %}

      {% endif %}
    </td>
  </tr>
</table>
<hr class="line-separator">
{% endif %}
<!-- END SKILLS -->




{% if user.companies.snapshot %}
<table class="container container-body">
  <tr>
    <td class="field-name align-center">
      <p class="field-name-title">RELEVANT EXPERIENCE</p>
    </td>
  </tr>
</table>
<table class="container container-body">
  {% for item in user.companies %}
  <tr>
    <td class="field-value col-half">
      <p><b>{{item.companyname}}</b></p>
      <p>{{item.jobtitle}}</p>
      <p>{{item.description|raw}}</p>
    </td>
    <td class="field-value col-half align-right">
      <p>({{item.datestarted|date('M Y')}} - {{item.isCurrent ? 'present' : item.datefinished|date('M Y')}})</p>
      <p>{{item.location}}</p>
    </td>
  </tr>
  {% endfor %}
</table>
<hr class="line-separator">
{% endif %}
<!-- END EMPLOYMENT -->

{% if user.educations.snapshot %}
<table class="container container-body">
  <tr>
    <td class="field-name align-center">
      <p class="field-name-title">EDUCATION/CERTIFICATIONS:</p>
    </td>    
  </tr>
</table>
<table class="container container-body">
  <tr>
    {% for item in user.educations %}
    <td class="field-value col-half">
      <p><b>{{item.degree|raw}}</b></p>
      <p>{{item.institutename}}</p>
      
    </td>
    <td class="align-right col-half">
      <p><b>{{item.location}}</b></p>
      <p><b>{{item.dateFinished |date("d/m/Y")}}</b></p>
    </td>
    {% endfor %}
  </tr>
</table>
{% endif %}
<!-- END EDUCATION -->

{% if user.certificates.snapshot %}
<table class="container container-body">
  <tr>
    <td class="field-value">
      {% if user.certificates %}
        {% for item in user.certificates %}
            <p>{{item.certificatename}}</p>
        {% endfor %}
      {% endif %}
    </td>
  </tr>
</table>
{% endif %}
<!-- END CERTIFICATES -->




