<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Resume Builder - Admin</title>
    <link href="{{asset('admin/css/semantic.min.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{asset('admin/css/admin.semantic.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{asset('admin/css/sweetalert.min.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{asset('admin/css/admin.css')}}" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="ui grid">
        <div class="column four wide" style="padding: 15px 14px 0 14px">
          <a href="{{path('dashboard')}}"><img src="{{asset('images/logo.png')}}" height="50px" alt=""></a>
        </div>
        <div class="column eight wide center aligned" style="padding: 27px 14px 0 14px;"><h2>Admin Dashboard</h2></div>
        <div class="column four wide right aligned" style="padding: 24px 30px 0 14px">
          <div>{{app.user.username}}</div>
          <div><a href="{{path('admin_logout')}}" class="item">
            <i class="sign out icon"></i>
            Sign Out
          </a></div>
        </div>
        <div style="clear:both"></div>
      </div>
    </header>
    <div class="ui top attached demo menu">
      <a id="lhsAnchor" class="item">
        <i class="sidebar icon"></i>
        Menu
      </a>
    </div>
    <div id="menuDiv" class="ui bottom attached segment pushable">
      <div class="ui inverted labeled icon left inline vertical sidebar menu">
        <a class="item">
          <i class="users icon"></i>
          Users
        </a>
        <a class="item">
          <i class="copy icon"></i>
          Resumes
        </a>
        {% if is_granted('ROLE_ROOT') %}<a id="createAdmin" class="item" href="#"><i class="add user icon"></i>Create admin</a>{% endif %}
      </div>

      <div class="pusher">
        <div class="ui basic segment">

        
          {# START VUETABLE APP #}
          <div id="app">

            <h2 class="ui header">List of Users</h2>
            <div class="ui grid">
              <div class="ui left aligned nine wide column">
                <div class="ui labeled icon input">
                  <div class="ui label">Search:</div>
                  <input v-model="searchFor" class="ui input" @keyup.enter="setFilter">
                  <i class="search icon"></i>
                </div>
                <button class="ui button primary" @click="setFilter">Go</button>
                <button class="ui button" @click="resetFilter">Reset</button>
                &nbsp;
              </div>
              <div class="ui right aligned seven wide column">
                <button class="ui basic button" id="settingsBtn">
                <i class="setting icon"></i>
                Settings
                </button>
              </div>
            </div>
            <div class="ui small modal" id="settingsModal">
              <div class="header">Settings</div>
              <div class="content ui form">
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" v-model="multiSort">
                    <label>Multisort (use Alt+Click)</label>
                  </div>
                </div>
                <div class="ui divider"></div>
                <div class="field">
                  <label>Pagination:</label>
                  <select class="ui simple dropdown" v-model="paginationComponent">
                    <option value="vuetable-pagination">vuetable-pagination</option>
                    <option value="vuetable-pagination-dropdown">vuetable-pagination-dropdown</option>
                  </select>
                </div>
                <div class="field">
                  <label>Per Page:</label>
                  <select class="ui simple dropdown" v-model="perPage">
                    <option value=10>10</option>
                    <option value=15>15</option>
                    <option value=20>20</option>
                    <option value=25>25</option>
                  </select>
                </div>
                <div class="ui fluid card">
                  <div class="content">
                    <div class="header">Visible fields</div>
                  </div>
                  <div class="content">
                    <div v-for="field in fields" class="field">
                      <div class="ui checkbox">
                        <input type="checkbox" v-model="field.visible">
                        <label>{{ "{{field.title == '' ? field.name.replace('__', '') : field.title | capitalize}}" }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="actions">
                <div class="ui cancel button">Close</div>
              </div>
            </div>
            <vuetable v-ref:vuetable
            api-url="{{path('api.users')}}"
            pagination-path=""
            :pagination-component="paginationComponent"
            wrapper-class="vuetable-wrapper ui basic segment"
            table-wrapper=".vuetable-wrapper"
            :fields="fields"
            :sort-order="sortOrder"
            :multi-sort="multiSort"
            :item-actions="itemActions"
            :per-page="perPage"
            :append-params="moreParams"
            detail-row-component="my-detail-row"
            detail-row-id="id"
            detail-row-transition="expand"
            row-class-callback="rowClassCB"
            ></vuetable>
          </div>
        {# END VUETABLE APP #}

        </div>
      </div>
    </div>
    <div class="ui view modal">
      <div class="header">
        View profile
      </div>
      <div class="image content">
        <div class="ui medium image">
          <img id="lblImage" src="" style="width: 250px;">
        </div>
        <div class="description">
          <div class="ui header">Candiate Information</div>
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Name  : </td>
                <td><span id="lblName" value=""/></span></td>
              </tr>
              <tr>
                <td>Industry  : </td>
                <td><span id="lblIndustry" value=""/></span></td>
              </tr>
              <tr>
                <td>Email   : </td>
                <td><span id="lblEmail" value=""/></span></td>
              </tr>
              <tr>
                <td>Location   : </td>
                <td><span id="lblLocation" value=""></span></td>
              </tr>
              <tr>
                <td>Phone   : </td>
                <td><span id="lblPhone" value=""></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="actions">
        <div class="ui primary approve button">
          Close
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>

    <!-- Edit modal -->
    <div class="ui edit modal">
      <div class="header">
        Edit profile
      </div>
      <div class="image content">
        <div class="ui medium image">
          <img id="update_form_image" src="" style="width:250px;">
        </div>
        <div class="description">
          <div class="ui header">Candiate Information</div>
          <div id="update_form_body"></div>
          <div id="update_form_info"></div>
          <!-- <p><label for="txtName">Name   : </label><input type="text" id="txtName" value=""/></p>
          <p><label for="txtEmail">Email  : </label><input type="text" id="txtEmail" value=""/></p>
          <p><label for="txtLocation">Location  : </label><input type="text" id="txtLocation" value=""/></p>
          <p><label for="txtZipcode">Zipcode  : </label><input type="text" id="txtZipcode" value=""/></p>
          <p><label for="txtPhone">Phone  : </label><input type="text" id="txtPhone" value=""/></p> -->
        </div>
      </div>
      <div class="actions">
        <div class="ui primary approve button">
          Back to dashboard
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
    <!-- End Edit modal -->


    {% if is_granted('ROLE_ROOT') %}
      <div id="createAdminModal" class="ui modal small test">
        <div class="header"><h3 style="text-align: center;">Create new admin account</h3></div>
        <div class="content">
          <form action="{{path('createAdmin')}}" method="POST" id="createAdminForm">
            <div class="ui grid center aligned">
              <div class="column sixteen wide ui input">
                <input name="na_name" id="name" type="text" placeholder="Name">
              </div>
              <div class="column sixteen wide ui input">
                <input name="na_email" id="email3" type="email" placeholder="Email">
              </div>
              <div class="column sixteen wide ui input">
                <input name="na_password" id="password3" type="password" placeholder="Password">
              </div>
              <div class="column sixteen wide ui input">
                <input name="na_password" id="password4" type="password" placeholder="Confirm password">
              </div>
              
              <div class="column sixteen wide newadmin-status"></div>
              <div class="column sixteen wide">
                <button type="submit" class="ui primary button">Create Account</button>
              </div>
            </div>
          </form>
        </div>
        <div class="actions">
          <div class="ui approve button">Close</div>
        </div>
      </div>
    {% endif %}

    <!-- Status Template -->
{#    <div id="statusForm">
      <form method="POST" class="js-update-form" action="{{path('api.users.update')}}" style="display: none;">
        <select class="ui simple dropdown mini" name="status" id="status">
          <option name="false" value="false">In progress</option>
          <option name="true" value="true">Verified</option>
        </select>
        <input type="submit" class="ui primary button mini" value="Update">
      </form>
    </div>
#}
    <script>
      var App = {
        path: {
          api_user_action: "{{path('api.userAction')}}"
        }
      };
    </script>
    <script src="{{asset('admin/js/jquery.min.js')}}"></script>
    <script src="{{asset('admin/js/semantic.min.js')}}"></script>
    <script src="{{asset('admin/js/sweetalert.min.js')}}"></script>
    <script src="{{asset('admin/js/vue.js')}}"></script>
    <script src="{{asset('admin/js/vue-resource.min.js')}}"></script>
    <script src="{{asset('admin/js/vue-table.js')}}"></script>
    <script src="{{asset('admin/js/admin.js')}}"></script>

    </script>
  </body>
</html>