<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Resume Builder - Admin</title>
    <link href="{{asset('admin/css/semantic.min.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{asset('admin/css/admin.semantic.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{asset('admin/css/sweetalert.min.css')}}" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div >
        <div class="item" style="float:left;padding-top:1em;"><a href="{{path('home')}}"><img src="{{asset('admin/images/new_logo.png')}}" height="50" alt=""></a></div>
        <div style="float:right;padding-top:2em;padding-right:1em;"><h2>Admin Dashboard</h2></div>
        <div style="clear:both"></div>
      </div>
    </header>
    <div class="ui top attached demo menu">
      <a id="lhsAnchor" class="item">
        <i class="sidebar icon"></i>
        Menu
      </a>
    </div>
    <div id="menuDiv" class="ui bottom attached segment pushable">
      <div class="ui inverted labeled icon left inline vertical sidebar menu">
        <a class="item">
          <i class="users icon"></i>
          Users
        </a>
        <a class="item">
          <i class="copy icon"></i>
          Resumes
        </a>
        <a class="item" href="{{ path('admin_jobs') }}">
          <i class="users icon"></i>
          Jobs
        </a>
        <a href="{{path('user_logout')}}" class="item">
          <i class="sign out icon"></i>
          Sign Out
        </a>
      </div>
      <div class="pusher">
        <div class="ui basic segment">

        
          {# START VUETABLE APP #}
          <div id="app">
            <h2 class="ui header">List of Users</h2>
            <div class="ui grid">
              <div class="ui left aligned nine wide column">
                <div class="ui labeled icon input">
                  <div class="ui label">Search:</div>
                  <input v-model="searchFor" class="ui input" @keyup.enter="setFilter">
                  <i class="search icon"></i>
                </div>
                <button class="ui button primary" @click="setFilter">Go</button>
                <button class="ui button" @click="resetFilter">Reset</button>
                &nbsp;
              </div>
              <div class="ui right aligned seven wide column">
                <button class="ui basic button" id="settingsBtn">
                <i class="setting icon"></i>
                Settings
                </button>
              </div>
            </div>
            <div class="ui small modal" id="settingsModal">
              <div class="header">Settings</div>
              <div class="content ui form">
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" v-model="multiSort">
                    <label>Multisort (use Alt+Click)</label>
                  </div>
                </div>
                <div class="ui divider"></div>
                <div class="field">
                  <label>Pagination:</label>
                  <select class="ui simple dropdown" v-model="paginationComponent">
                    <option value="vuetable-pagination">vuetable-pagination</option>
                    <option value="vuetable-pagination-dropdown">vuetable-pagination-dropdown</option>
                  </select>
                </div>
                <div class="field">
                  <label>Per Page:</label>
                  <select class="ui simple dropdown" v-model="perPage">
                    <option value=10>10</option>
                    <option value=15>15</option>
                    <option value=20>20</option>
                    <option value=25>25</option>
                  </select>
                </div>
                <div class="ui fluid card">
                  <div class="content">
                    <div class="header">Visible fields</div>
                  </div>
                  <div class="content">
                    <div v-for="field in fields" class="field">
                      <div class="ui checkbox">
                        <input type="checkbox" v-model="field.visible">
                        <label>{{ "{{field.title == '' ? field.name.replace('__', '') : field.title | capitalize}}" }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="actions">
                <div class="ui cancel button">Close</div>
              </div>
            </div>
            <div class="vuetable-wrapper ui basic segment">
              <table id="jobsList" class="vuetable ui blue striped selectable celled stackable attached table">
                <thead>
                  <tr>
                    <th id="_id" class=" ">&nbsp;</th>
                    <th id="_jobTitle" class=" sortable">Job title&nbsp;</th>
                    <th id="_location" class=" sortable">Location&nbsp;</th>
                    <th id="_salary" class=" sortable">Salary&nbsp;</th>
                    <th id="_industries" class=" ">Industries&nbsp;</th>
                    <th id="_jobTypes" class=" ">Types&nbsp;</th>
                    <th id="_company" class=" sortable">Company&nbsp;</th>
                    <th class="center aligned "><button class="ui button" bind="add_job">Add</button></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        {# END VUETABLE APP #}

        </div>
      </div>
    </div>
  <div id="wrapper_popup" class="ui dimmer modals page transition">  
    <div id="edit_form_job" class="ui edit modal" style="top:0px" data-id="">
      <div class="header">Edit job</div>
      <div class="image content">
        <div class="ui medium image"></div>
        <div class="description">
          <div class="ui header">Job Information</div>
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Title  : </td>
                <td><input type="text" id="edit_jobTitle" value=""/></td>
              </tr>
              <tr>
                <td>Salary  : </td>
                <td><input type="text" id="edit_salary" value=""/></td>
              </tr>
              <tr>
                <td>description   : </td>
                <td><textarea id="edit_description"/></textarea></td>
              </tr>
              <tr>
                <td>Location   : </td>
                <td><textarea id="edit_location" value=""></textarea></td>
              </tr>
              <tr>
                <td>Company   : </td>
                <td>
                  <select id="edit_company">
                      <option value="Akimbo">Akimbo</option>
                      <option value="Crowdvis">Crowdvis</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Industries   : </td>
                <td>
                   {% for industry in industries %}
                      <div style="display:inline-block">
                      <label>{{ industry.industryName }}</label>
                      <input type="checkbox" name="edit_industries" value="{{ industry.id }}">
                      </div>
                   {% endfor %}
                </td>
              </tr>
              <tr>
                <td>Types   : </td>
                <td>
                  {% for type in types %}
                      <div style="display:inline-block">
                      <label>{{ type.jobTypeTitle }}</label>
                      <input type="checkbox" name="edit_types" value="{{ type.id }}">
                      </div>
                   {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <p><label for="txtName">Name   : </label><input type="text" id="txtName" value=""/></p>
          <p><label for="txtEmail">Email  : </label><input type="text" id="txtEmail" value=""/></p>
          <p><label for="txtLocation">Location  : </label><input type="text" id="txtLocation" value=""/></p>
          <p><label for="txtZipcode">Zipcode  : </label><input type="text" id="txtZipcode" value=""/></p>
          <p><label for="txtPhone">Phone  : </label><input type="text" id="txtPhone" value=""/></p> -->
        </div>
      </div>
      <div class="actions">
        <div id="edit_job" class="ui primary approve button">
          Submit
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
    <div id="add_form_job" class="ui add modal" style="top:0px">
      <div class="header">Add job</div>
      <div class="image content">
        <div class="ui medium image"></div>
        <div class="description">
          <div class="ui header">Job Information</div>
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td>Title  : </td>
                <td><input type="text" id="jobTitle" value=""/></td>
              </tr>
              <tr>
                <td>Salary  : </td>
                <td><input type="text" id="salary" value=""/></td>
              </tr>
              <tr>
                <td>description   : </td>
                <td><textarea id="description"/></textarea></td>
              </tr>
              <tr>
                <td>Location   : </td>
                <td><textarea id="location" value=""></textarea></td>
              </tr>
              <tr>
                <td>Company   : </td>
                <td>
                  <select id="company">
                      <option value="Akimbo">Akimbo</option>
                      <option value="Crowdvis">Crowdvis</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Industries   : </td>
                <td>
                   {% for industry in industries %}
                      <div style="display:inline-block">
                      <label>{{ industry.industryName }}</label>
                      <input type="checkbox" name="industries" value="{{ industry.id }}">
                      </div>
                   {% endfor %}
                </td>
              </tr>
              <tr>
                <td>Types   : </td>
                <td>
                  {% for type in types %}
                      <div style="display:inline-block">
                      <label>{{ type.jobTypeTitle }}</label>
                      <input type="checkbox" name="types" value="{{ type.id }}">
                      </div>
                   {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <p><label for="txtName">Name   : </label><input type="text" id="txtName" value=""/></p>
          <p><label for="txtEmail">Email  : </label><input type="text" id="txtEmail" value=""/></p>
          <p><label for="txtLocation">Location  : </label><input type="text" id="txtLocation" value=""/></p>
          <p><label for="txtZipcode">Zipcode  : </label><input type="text" id="txtZipcode" value=""/></p>
          <p><label for="txtPhone">Phone  : </label><input type="text" id="txtPhone" value=""/></p> -->
        </div>
      </div>
      <div class="actions">
        <div id="add_job" class="ui primary approve button">
          Submit
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>

    <script id="joblistTemplate" type="text/template">
        <td class="center aligned">
        <a classshow-detail-row="show-detail-row">
            <i class="chevron circle right icon"></i>
        </a>
        </td>
        <td><%= jobTitle %></td>
        <td><%= location %></td>
        <td><%= salary %>$</td>
        <td><%
          for (k in industries) {
        %>
          <%= industries[k].industryName %>, 
        <%
          } 
        %></td>
        <td><%
          for (k in jobTypes) {
        %>
          <%= jobTypes[k].jobTypeTitle %>, 
        <%
          } 
        %></td>
        <td><%= company.companyName %></td>
        <td class="custom-action center aligned">
            <div>
            {#<button class="ui red button"><i class="zoom icon"></i></button>#}
            <button class="ui blue button"><i class="edit icon"></i></button>
            <button class="ui green button"><i class="delete icon"></i></button></div>
        </td>
    </script>
    
    <script src="{{asset('admin/js/jquery.min.js')}}"></script>
    <script src="{{ asset('admin/js/app/underscore-min.js') }}"></script>
    <script src="{{ asset('admin/js/app/backbone-min.js') }}"></script>
    <script src="{{ asset('admin/js/app/model/jobModel.js') }}"></script>
    <script src="{{ asset('admin/js/app/collections/jobsCollection.js') }}"></script>
    <script src="{{ asset('admin/js/app/views/jobViews.js') }}"></script>
    <script src="{{ asset('admin/js/app/app.js') }}"></script>
  </body>
</html>