
    {% if disableFooter is not defined %}
      <footer class="page-footer">
        <div class="container">
          
        </div>
        <div class="footer-copyright">
          <div class="container">
            &copy; 2016 Powered by Akimbo, All rights reserved
          </div>
        </div>
      </footer>
    {% endif %}

    <!--  Scripts-->
    <script src="{{ absolute_url( asset('js/jquery.min.js') ) }}"></script>
    <script src="{{ absolute_url( asset('js/jquery.validate.js') ) }}"></script>
    <script src="{{ absolute_url( asset('js/jquery.maskedinput.min.js') ) }}"></script>
    <script src="{{ absolute_url( asset('js/materialize.js') ) }}"></script>
    <script src="{{ absolute_url( asset('js/jquery.materialize-autocomplete.min.js') ) }}"></script>
    <script src="{{ absolute_url( asset('editor/trumbowyg.min.js') ) }}"></script>
    <script src="{{ absolute_url( asset('js/jquery.bxslider.min.js') ) }}"></script>
    <script src="{{ absolute_url( asset('js/init.js') ) }}"></script>
    <script src="{{ absolute_url( asset('old/script.js') ) }}"></script>
    <script src="{{ absolute_url( asset('js/profile-templating.js') ) }}"></script>

    <script src="{{ absolute_url( asset('js/jobs-filters.js') ) }}"></script>

    </body>
  </html>