<!DOCTYPE html>
<html lang="en" 
{% if pdf is defined %}
class="pdf-html"
{% endif %}
>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Resume Builder</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ absolute_url( asset('editor/trumbowyg.css') ) }}" rel="stylesheet">
  <link href="{{ absolute_url( asset('css/materialize.css') ) }}" type="text/css" rel="stylesheet" />
  <link href="{{ absolute_url( asset('css/jquery.bxslider.css') ) }}" type="text/css" rel="stylesheet" />
  <link href="{{ absolute_url( asset('css/m-icon.css') ) }}" type="text/css" rel="stylesheet" />
  <link href="{{ absolute_url( asset('css/style.css') ) }}" type="text/css" rel="stylesheet" />
  <link href="{{ absolute_url( asset('css/steps.css') ) }}" type="text/css" rel="stylesheet" />
  <link href="{{ absolute_url( asset('css/responsive.css') ) }}" type="text/css" rel="stylesheet" />
  <link href="{{ absolute_url( asset('css/profile.css') ) }}" type="text/css" rel="stylesheet" />
  <link href="{{ absolute_url( asset('css/themes/red.css') ) }}" type="text/css" rel="stylesheet" />
  <link href="{{ absolute_url( asset('css/themes/simple-black.css') ) }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ absolute_url(asset('css/custom_edit.css')) }}" type="text/css" />
  <script src="https://use.fontawesome.com/5152c6eec9.js"></script>

</head>
<body>
  {% if disableTopbar is not defined %}
    <div class="navbar-fixed">
      <nav class="white" role="navigation">
          <div class="nav-wrapper container">
            <a id="logo-container" href="{{path('home')}}" class="brand-logo"><img src="{{ absolute_url( asset('images/logo.png') ) }}"></a>
            <ul class="right hide-on-med-and-down">

              {% if is_granted(expression(
                '"ROLE_USER" in roles and "ROLE_ADMIN" not in roles'
              )) %}


                <li><a href="{{path('jobs')}}">Jobs</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="user_menu">{{app.user.firstname}}<i class="material-icons right">arrow_drop_down</i></a></li>

              </ul>
                
              <ul id="user_menu" class="dropdown-content">
                <li><a href="{{path('profile', {'id': app.user.id})}}">Profile</a></li>
                <li><a href="#!">Settings</a></li>
                <!-- <li><a href="#!">Messages</a></li> -->
                <li class="divider"></li>
                <li><a href="{{path('user_logout')}}">Sign out</a></li>
              </ul>

              {% else %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('dashboard') }}">Back to dashboard</a></li>
                    <li><a href="{{ path('admin_logout') }}">Logout</a></li>
                  {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('admin_login') }}">Admin</a></li>
                {% endif %}
              </ul>
              {% endif %}
            <!-- <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
          </div>
      </nav>
    </div>
  {% endif %}