<div class="preview-section theme-red bullets-enabled">
    <div class="np">
        <div class="row">
            <div class="col s6 valign-wrapper">
                <h3 class="valign">
                    {{user.firstname}} {{user.lastname}}
                </h3>
            </div>
            <div class="col s6 right-align">
                email: {{user.email}}
                <br>
                    phone: {{user.phone}}
                </br>
            </div>
        </div>
    </div>
    <div class="spacingx2">
    </div>
    <div class="row">
        <div class="col s2">
            <div class="section-title">
                summary
            </div>
        </div>
        <div class="col s10">
            {{user.description|raw}}
        </div>
    </div>
    {% if user.skills.snapshot %}
    <div class="section-separator">
    </div>
    <div class="row">
        <div class="col s2">
            <div class="section-title">
                skills
            </div>
        </div>
        <div class="col s10 skills-data">
            {% for item in user.skills %}
                {{item.skillname}}
            <br>
                {% endfor %}
            </br>
        </div>
    </div>
    {% endif %}
    

    {% if user.certificates.snapshot %}
    <div class="section-separator">
    </div>
    <div class="row">
        <div class="col s2">
            <div class="section-title">
                certificates
            </div>
        </div>
        <div class="col s10 skills-data">
            {% for item in user.certificates %}
                {{item.certificateName}}
            <br>
                {% endfor %}
            </br>
        </div>
    </div>
    {% endif %}

      {% if user.companies.snapshot %}
    <div class="section-separator">
    </div>
    <div class="row">
        <div class="col s2">
            <div class="section-title">
                employment
            </div>
        </div>
        <div class="col s10">
            {% for item in user.companies %}
                <div>
                    <strong class="strong500">
                        <big>
                            {{item.companyname}}
                        </big>
                        <small>
                            ({{item.datestarted|date('m/Y')}} - {{item.isCurrent ? 'present' : item.datefinished|date('m/Y')}})
                        </small>
                    </strong>
                    <br>
                    <i>{{item.jobtitle}}</i>
                    <br>
                    {{item.description|raw}}
                </div>
                <div class="spacing"></div>
            {% endfor %}

        </div>
    </div>
    {% endif %}



      {% if user.educations.snapshot %}
    <div class="section-separator">
    </div>
    <div class="row">
        <div class="col s2">
            <div class="section-title">
                education
            </div>
        </div>
        <div class="col s10">
            {% for item in user.educations %}
                <div>
                    <strong class="strong500">
                        <big>
                            {{item.institutename}},
                        </big>
                        <small>
                            {{item.location}}
                        </small>
                    </strong>
                    <br>
                    {{item.degree}}
                    <br>
                    {{item.dateFinished |date("d/m/Y")}}
                </div>
                <div class="spacing"></div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>