<div class="preview-section theme-simple-black bullets-enabled">
    <div class="heading">
        <div class="row">
            <div class="col s12 center-align">
                <h3 class="heading-title">{{user.firstname}} {{user.lastname}}</h3>
                <p>{{user.location}}</p>
                <p>{{user.phone}}</p>
                <p>{{user.email}}</p>
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="section-title">
                Summary:
            </div>
        </div>
        <div class="col s12">
            {{user.description|raw}}
        </div>
    </div>


    {% if user.skills.snapshot %}
        <div class="row">
            <div class="col s12">
                <div class="section-title">
                    Areas of special emphasis:
                </div>
            </div>
            <div class="col s12">
                <ul class="skills-data">
                    {% for item in user.skills %}
                        <li><img src="{{ absolute_url( asset('images/w216.gif') ) }}">{{item.skillname}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <hr class="section-separator">


    {% if user.companies.snapshot %}

    <div class="row">
        <div class="col s12 center-align">
            <div class="section-title h2">RELEVANT EXPERIENCE</div>
        </div>
        {% for item in user.companies %}
        <div class="col s6">
            <p><b>{{item.companyname}}</b></p>
            <p>{{item.jobtitle}}</p>
            <div>{{item.description|raw}}</div>
        </div>
        <div class="col s6 right-align">
            <p>({{item.datestarted|date('m/Y')}} - {{item.isCurrent ? 'present' : item.datefinished|date('m/Y')}})</p>
            <p>{{item.location}}</p>
        </div>
        <div class="clearfix"></div>
        {% endfor %}
    </div>
    {% endif %}



    {% if user.educations.snapshot %}

    <div class="row">
        <div class="col s12 center-align">
            <div class="section-title h2">EDUCATION/CERTIFICATIONS:</div>
        </div>
        {% for item in user.educations %}
            <div class="col s6">
                <p><b>{{item.degree}}</b></p>
                <p>{{item.institutename}}</p>
            </div>
            <div class="col s6 right-align">
                <p><b>{{item.location}}</b></p>
                <p><b>{{item.dateFinished |date("d/m/Y")}}</b></p>
            </div>
            <div class="clearfix"></div>
        {% endfor %}            

        {% if user.certificates.snapshot %}
            <div class="col s12 certificate-data">
                {% for item in user.certificates %}
                    {{item.certificateName}}
                <br>
                    {% endfor %}
                <br>
            </div>
        {% endif %}
    </div>
    {% endif %}
</div>