.preview-section{
  background-color: #fff;
  padding:0 30px 30px;
  min-height: 600px;
}

.preview-section .np{

}
.theme-red .np{
  background-color: #f44336;
  margin-left: -30px;
  margin-right: -30px;
  padding: 20px;
  color: #fff;
}
.theme-red .np h3{
  margin: 0;
  line-height: normal;
  font-size: 24px;
}
.theme-red .np .row{
  margin-bottom: 0
}
.theme-red .section-title{
  color: #f44336;
  font-weight: bold;
  font-size: 18px;
}
.theme-red .section-separator{
  border-top:1px dashed #ddd;
  margin: 15px -30px 15px -30px;

}
.theme-red .skills-data i{
  vertical-align: middle;
  color: #f44336;
}
.theme-red .skills-data i.gray{
  color: #ddd;
}