.preview-section{
  background-color: #fff;
  padding:0 30px 30px;
  min-height: 600px;
}


.theme-simple-black {
  padding: 1.43cm 2.5cm 0.32cm;
  font-family: 'Times New Roman';
  font-size: 16px;
  letter-spacing: 0.005em;
}
.theme-simple-black.bullets-enabled ul,
.theme-simple-black.bullets-enabled ol {
  margin-left: 30px;
}
.theme-simple-black .heading {
  margin-bottom: 1.5cm;
}

.theme-simple-black .heading-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0
}
.theme-simple-black p {
  margin: 0;
}
.theme-simple-black .section-title {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 0;
  line-height: 1;
  border-bottom: 1px solid #000;
}
.theme-simple-black .section-title.h2 {
  margin-bottom: 15px;
}

.theme-simple-black .skills-data {
  padding-left: 4px;
  margin-bottom: 0;
}
.theme-simple-black .skills-data li {
  // margin-left: .27cm;
  list-style: none;
}
.theme-simple-black .skills-data li img {
  height: 10px;
  margin-right: 10px;
  max-width: none;
  display: inline-block;
}

.theme-simple-black .section-separator{
  background: #000000;
  margin: 30px -0 30px -0;
}
.theme-simple-black .certificate-data {
  margin-top: 15px;
}
// .theme-simple-black .np{
//   background-color: #f44336;
//   margin-left: -30px;
//   margin-right: -30px;
//   padding: 20px;
//   color: #fff;
// }
// .theme-simple-black .np h3{
//   margin: 0;
//   line-height: normal;
//   font-size: 24px;
// }
// .theme-simple-black .np .row{
//   margin-bottom: 0
// }
// .theme-simple-black .section-title{
//   color: #f44336;
//   font-weight: bold;
//   font-size: 18px;
// }

// .theme-simple-black .skills-data i{
//   vertical-align: middle;
//   color: #f44336;
// }
// .theme-simple-black .skills-data i.gray{
//   color: #ddd;
// }