<!-- CONTACT DETAILS -->
<div id="contactDetails" class="view-mode card build-section scrollspy js-fields">
  <a class="js-edit-fields btn-flat edit-btn waves-effect waves-teal"><i class="material-icons left">mode_edit</i>Edit</a>

  <div class="card-content">
    <div class="viewable-content">
      <div class="row">
          
        {% if user.industry.industryName is defined %}
          {# Badge section #}
          <div class="col s3">
            <img class="profile-badge" src="{{asset(user.industry.industryImage)}}" alt="{{user.industry.industryName}}">
          </div>

          {# Info section #}
          <div class="col s9">
        {% else %}
          <div class="col s12">
        {% endif %}
          <h5 class="profile-contact-title"><span>{{user.firstname}}</span> <span id="view-user_lastname">{{user.lastname}}</span>
            {% if user.linkedin is not empty %}
                  <a target="_blank" href="{{ user.linkedin }}">
                <i style="margin-left: 5%" class="fa fa-linkedin-square" ></i>
              </a>
            {% endif %}
            {% if user.link is not empty %}
              <a target="_blank" href="{{ user.link }}">
                <i style="margin-left: 1%" class="fa fa-link" ></i>
              </a>
            {% endif %}
          </h5>
          <span>{{ (user.location == '' ) ? 'City, state' : user.location }}</span> <br>
          <span>{{ (user.phone == '' ) ? 'Phone number' : user.phone }}</span> <br>
          <span>{{user.email}}</span>
        </div>
      </div>
    </div>
    <!-- End viewable-content -->
    <div class="editable-content">
      <div class="row">
        <div class="input-field col s6">
          {{ form_widget(form.firstName, {'attr': {'class': 'js-input'} } ) }}
          {{ form_label(form.firstName) }}
        </div>
        <div class="input-field col s6">
          {{ form_widget(form.lastName, {'attr': {'class': 'js-input'} } ) }}
          {{ form_label(form.lastName) }}
        </div>
        <div class="input-field col s12">
          {{ form_widget(form.location, {'attr': {'class': 'js-input js-location', 'autocomplete': 'off'} } ) }}
          {{ form_label(form.location) }}
        </div>
        <div class="input-field col s6">
          {{ form_widget(form.phone, {'attr': {'class': 'js-input js-phone-mask'} } ) }}
          {{ form_label(form.phone) }}
        </div>
        <div class="input-field col s6">
          {{ form_widget(form.email, {'attr': {'class': 'js-input'} } ) }}
          {{ form_label(form.email) }}
        </div>
        <div class="input-field col s12" id="Industries">
          {{ form_widget(form.industry, {'attr': {'class': 'js-input'}}) }}
          {{ form_label(form.industry) }}
        </div>
        <div class="input-field col s6">
          {{ form_widget(form.linkedin, {'attr': {'class': 'js-input'} } ) }}
          {{ form_label(form.linkedin,'LinkedIn link') }}
        </div>

        <div class="input-field col s6">
          {{ form_widget(form.link, {'attr': {'class': 'js-input'} } ) }}
          {{ form_label(form.link,'Link (youtube,vimeo...)') }}
        </div>
      </div>
    </div>
    <!-- End editable-content -->
  </div>

  <div class="card-action actions right-align">
    <div class="cancel-btn btn-flat js-edit-cancel">Close</div>
    <button type="submit" class="btn waves-effect waves-light">Update</button>
  </div>
  <!-- End card-action -->
</div>
<!-- END CONTACT DETAILS -->