<!-- SUMMARY -->
<div id="document" class="view-mode card build-section scrollspy js-fields" id="document">
  <a class="js-edit-fields btn-flat edit-btn waves-effect waves-teal"><i class="material-icons left">mode_edit</i>Edit</a>
  <div class="card-content">
    <span class="card-title">DOCUMENT</span>
    <div class="viewable-content bullets-enabled">
      {% if user.document is not empty %}

        {% if user.document.getFileName() is defined %}
            <a target="_blank" href="{{ asset('uploads/documents/' ~ user.document.getFileName()) }}">
           {% else %}
             <a target="_blank" href="{{ asset('uploads/documents/' ~ user.document) }}">
       {% endif %}


           <i class="fa fa-external-link"></i> View document (PDF)</a>

      {% endif %}
    </div>
    <div class="editable-content">
     {{ form_widget(form.document, {'attr': {'class': 'js-input ',  'value': "" }}) }}
    </div>
  </div>
  <div class="card-action actions right-align">
    <div class="cancel-btn btn-flat js-edit-cancel">Close</div>
    <button type="submit" class="btn waves-effect waves-light">Update</button>
  </div>
  <!-- End card-action -->
</div>
<!-- END SUMMARY -->