<!-- EDUCATION -->
<div id="education" class="view-mode card build-section scrollspy js-fields">
  <a class="js-edit-fields btn-flat edit-btn waves-effect waves-teal"><i class="material-icons left">mode_edit</i>Edit</a>
  <div class="card-content">
    
    <span class="card-title">EDUCATION</span>

    <div class="viewable-content">
    {% if user.educations is defined and user.educations is not empty %}
        <div class="profile-fieldset">
          <ul>
            {% for item in user.educations %}
              <li class="profile-item block">
                <div class="profile-item-header">
                  <h4 class="profile-item-title">{{item.instituteName}}</h4>
                </div>
                <div class="profile-item-content">
                  <p>{{item.location}}</p>
                  <p>{{item.degree}}</p>
                  <p>{{item.dateFinished |date("d/m/Y")}}</p>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
    {% endif %}
    </div>
    <!-- End viewable-content -->
  
    <fieldset id="edit-education" class="fieldset editable-content js-fieldset" data-prototype="
      {% filter escape %}
         {{ include('TestBundle:Fieldsets:education.html.twig', { 'form': form.educations.vars.prototype }) }}
      {% endfilter %}">

      {% for item in form.educations %}
        {{ include('TestBundle:Fieldsets:education.html.twig', { 'form': item }) }}
      {% endfor %}
      <div class="fields-container">
        
      </div>
      
    </fieldset>
    <!-- End editable-content -->


  </div>
  <div class="card-action actions right-align">
    <div class="cancel-btn btn-flat js-edit-cancel">Close</div>
    <a href="#edit-education" class="btn btn-simple add_fieldset waves-effect waves-light js-add-fieldset">ADD NEW</a>
    <button type="submit" class="btn waves-effect waves-light">Update</button>
  </div>
  <!-- End card-action -->
</div>
<!-- END EDUCATION -->