<!-- JOB PREFERENCES -->
<div id="jobPreference" class="view-mode card build-section scrollspy js-fields">
  <a class="js-edit-fields btn-flat edit-btn waves-effect waves-teal"><i class="material-icons left">mode_edit</i>Edit</a>
  <div class="card-content">
    
    <span class="card-title">EMPLOYMENT PREFERENCES</span>

    <div class="viewable-content">
    {% if user.jobPreference is defined and user.jobPreference is not empty %}
      {% set item = user.jobPreference %}
      <div class="profile-fieldset">
        <div class="profile-item simple">
          <div class="profile-item-content">
            <div class="row">
              <div class="col s6">Ideal job title:</div> 
              <div class="col s6 right-align">{{ (item.idealJobTitle is defined) ? item.idealJobTitle : '' }}</div>
            </div>
            <div class="row">
              <div class="col s6">Location:</div> 
              <div class="col s6 right-align">{{item.location}}</div>
            </div>
            <div class="row">
              <div class="col s6">Salary:</div> 
              <div class="col s6 right-align">{{(item.salary == 0) ? '$0' : '$' ~ item.salary}}</div>
            </div>
            <div class="row">
              <div class="col s3">Industry:</div> 
              <div class="col s9">
                {% if item.industries is defined %}
                  <ul class="profile-list-inline right-align">
                    {% for industry in item.industries %}
                      <li class="profile-item inline"><img class="icon" src="{{asset(industry.industryImage)}}" alt="">{{industry.industryName}}</li>                  
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col s3">Job type:</div> 
              <div class="col s9">
                {% if item.jobTypes is defined %}
                  <ul class="profile-list-inline right-align">
                    {% for jobType in item.jobTypes %}
                      <li class="">{{jobType.jobTypeTitle}}</li>                  
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    </div>
    <!-- End viewable-content -->
  
    <div id="edit-job-preferences" class="editable-content">
      <div class="row">
        <div class="col s4">
          {{ form_label(form.jobPreference.idealJobTitle) }}
          {{ form_widget(form.jobPreference.idealJobTitle) }}
        </div>
        <div class="col s4">
          {{ form_label(form.jobPreference.location) }}
          {{ form_widget(form.jobPreference.location) }}
        </div>
        <div class="col input-field s4">
          {{ form_label(form.jobPreference.salary) }}
          <span class="prefix">$</span>
          {{ form_widget(form.jobPreference.salary) }}
        </div>
        <div class="col s6">
          {{ form_label(form.jobPreference.industries) }}
          {{ form_widget(form.jobPreference.industries) }}
        </div>
        <div class="col s6">
          {{ form_label(form.jobPreference.jobTypes) }}
          {{ form_widget(form.jobPreference.jobTypes) }}
        </div>
      </div>
      
    </div>
    <!-- End editable-content -->


  </div>
  <div class="card-action actions right-align">
    <div class="cancel-btn btn-flat js-edit-cancel">Close</div>
    <button type="submit" class="btn waves-effect waves-light">Update</button>
  </div>
  <!-- End card-action -->
</div>
<!-- END JOB PREFERENCES -->

