<!-- REFERENCES -->
<div id="references" class="view-mode card build-section scrollspy js-fields">
  <a class="js-edit-fields btn-flat edit-btn waves-effect waves-teal"><i class="material-icons left">mode_edit</i>Edit</a>
  <div class="card-content">
    
    <span class="card-title">REFERENCES</span>

    <div class="viewable-content">
    {% if user.references is defined and user.references is not empty %}
        <div class="profile-fieldset">
          <ul>
              {% for item in user.references %}
                <li class="profile-item simple">
                  <div class="profile-content">
                    <div class="row"><div class="col s6">Full name:</div> <div class="col s6 right-align">{{item.fullName}}</div></div>
                    <div class="row"><div class="col s6">Job title:</div> <div class="col s6 right-align">{{item.jobTitle}}</div></div>
                    <div class="row"><div class="col s6">Company/Organization:</div> <div class="col s6 right-align">{{item.organization}}</div></div>
                    <div class="row"><div class="col s6">Relationship:</div> <div class="col s6 right-align">{{item.relationship}}</div></div>
                    <div class="row"><div class="col s6">Phone number:</div> <div class="col s6 right-align">{{item.phone}}</div></div>
                    <div class="row"><div class="col s6">Business email:</div> <div class="col s6 right-align"><a href="mailto:{{item.email}}">{{item.email}}</a></div></div>
                  </div>
                </li>
              {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
    <!-- End viewable-content -->
  
    <fieldset id="edit-references" class="fieldset editable-content js-fieldset" data-prototype="
      {% filter escape %}
         {{ include('TestBundle:Fieldsets:reference.html.twig', { 'form': form.references.vars.prototype }) }}
      {% endfilter %}">

      {% for item in form.references %}
        {{ include('TestBundle:Fieldsets:reference.html.twig', { 'form': item }) }}
      {% endfor %}
      <div class="fields-container">
        
      </div>
      
    </fieldset>
    <!-- End editable-content -->


  </div>
  <div class="card-action actions right-align">
    <div class="cancel-btn btn-flat js-edit-cancel">Close</div>
    <a href="#edit-references" class="btn btn-simple add_fieldset waves-effect waves-light js-add-fieldset">ADD</a>
    <button type="submit" class="btn waves-effect waves-light">Update</button>
  </div>
  <!-- End card-action -->
</div>
<!-- END REFERENCES -->