<!-- SKILLS -->
<div id="skills" class="view-mode card build-section scrollspy js-fields" id="skills">
  <a class="js-edit-fields btn-flat edit-btn waves-effect waves-teal"><i class="material-icons left">mode_edit</i>Edit</a>
  <div class="card-content">
    <span class="card-title">SKILLS</span>
    <div class="viewable-content">
      <ul id="view-skills">
        {% for item in user.skills %}
            <li class="profile-item inline">{{item.skillName}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="editable-content">
        {{ form_widget(form.skills, {'attr': {'class': 'js-input' }}) }}
    </div>
  </div>
  <div class="card-action actions right-align">
    <div class="cancel-btn btn-flat js-edit-cancel">Close</div>
    <button type="submit" class="btn waves-effect waves-light">Update</button>
  </div>
  <!-- End card-action -->
</div>
<!-- END SKILLS -->

<!-- CERTIFICATES -->
<div id="certificates" class="view-mode card build-section scrollspy js-fields" id="certificates">
  <a class="js-edit-fields btn-flat edit-btn waves-effect waves-teal"><i class="material-icons left">mode_edit</i>Edit</a>
  <div class="card-content">
    <span class="card-title">CERTIFICATES</span>
    <div class="viewable-content">
      <ul id="view-certificates">
        {% for item in user.certificates %}
            <li class="profile-item inline">{{item.certificateName}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="editable-content">
        {{ form_widget(form.certificates, {'attr': {'class': 'js-input' }}) }}
    </div>
  </div>
  <div class="card-action actions right-align">
    <div class="cancel-btn btn-flat js-edit-cancel">Close</div>
    <button type="submit" class="btn waves-effect waves-light">Update</button>
  </div>
  <!-- End card-action -->
</div>
<!-- END CERTIFICATES -->