<!-- SUMMARY -->
<div id="summary" class="view-mode card build-section scrollspy js-fields" id="summary">
  <a class="js-edit-fields btn-flat edit-btn waves-effect waves-teal"><i class="material-icons left">mode_edit</i>Edit</a>
  <div class="card-content">
    <span class="card-title">PROFESSIONAL STATEMENT</span>
    <div id="view-prof_statement" class="viewable-content bullets-enabled">
      {% if user.description == '' %}
        <p>The great thing about <strong>MY INDUSTRY</strong> is that it's always improving and making new strides. With over <strong>YEARS </strong>of experience in this industry, my passion has yet to diminish. During my tenure, I've seen this sector adapt and become innovative in this digital world. I'm eager to merge my expertise with your organization's mission, where together we can take things to the next level.</p>
      {% else %}
        {{ user.description|raw }}
      {% endif %}
    </div>
    <div class="editable-content">
        {{ form_widget(form.description, {'attr': {'class': 'js-input js-wysiwyg', 'data-view': '#view-prof_statement', 'value': "" }}) }}
    </div>
  </div>
  <div class="card-action actions right-align">
    <div class="cancel-btn btn-flat js-edit-cancel">Close</div>
    <button type="submit" class="btn waves-effect waves-light">Update</button>
  </div>
  <!-- End card-action -->
</div>
<!-- END SUMMARY -->