<!-- WORK EXPERIENCE -->
<div id="employment" class="view-mode card build-section scrollspy js-fields">
  <a class="js-edit-fields btn-flat edit-btn waves-effect waves-teal"><i class="material-icons left">mode_edit</i>Edit</a>
  <div class="card-content">
    
    <span class="card-title">WORK EXPERIENCE</span>

    <div class="viewable-content">
      {% if user.companies is defined and user.companies is not empty %}
        <div class="profile-fieldset">
          <ul>
            {% for item in user.companies %}
              <li class="profile-item block">
                <div class="profile-item-header reduce_height2">
                  <h4 class="profile-item-title" id="JobTitle">{{item.jobTitle}}</h4>
                  <p id="exp_prd"> &nbsp; ({{item.dateStarted |date(' F Y') }} -
                      {% if item.isCurrent %}
                        <span>present)</span>
                      {% else %}
                          {{item.dateFinished |date(' F Y')}})
                      {% endif %}
                  </p>
                </div>
                <div class="row profile-item-content reduce_height" id="addr">
                  <div class="col s12">
                    <p id="CompName" class="mv_rgt"><i>at </i>{{item.companyName}}<i>,</i></p>
                  </div>

                  <div class="col s12 reduce_height">
                    <p class="mv_rgt">{{item.location}}</p>
                  </div>
                  <div class="col s12 bullets-enabled" id="JobDesc">
                    {{item.description|raw}}
                  </div>

                  
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

      {% endif %}
    </div>
    <!-- End viewable-content -->
  
    <fieldset id="edit-work-exp" class="fieldset editable-content js-fieldset" data-prototype="
      {% filter escape %}
         {{ include('TestBundle:Fieldsets:company.html.twig', { 'form': form.companies.vars.prototype }) }}
      {% endfilter %}">

      {% for item in form.companies %}
        {{ include('TestBundle:Fieldsets:company.html.twig', { 'form': item }) }}
      {% endfor %}
      <div class="fields-container">
        
      </div>
      
    </fieldset>
    <!-- End editable-content -->


  </div>
  <div class="card-action actions right-align">
    <div class="cancel-btn btn-flat js-edit-cancel">Close</div>
    <a href="#edit-work-exp" class="btn btn-simple add_fieldset waves-effect waves-light js-add-fieldset">ADD NEW</a>
    <button type="submit" class="btn waves-effect waves-light">Update</button>
  </div>
  <!-- End card-action -->
</div>
<!-- END WORK EXPERIENCE -->