<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Akimbo - Resume Builder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body >
 <table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="border:1px solid #cccccc; border-top:4px solid #e18d33">
 	<tr>
 		<td>
 			<table cellpadding="10">
 				<tr>
				   <td align="center" style="font-family:arial; color:#209a8b">
				    	<img src="{{images.logo}}" alt="" /> <!-- Note: Use absolute URL for image src on sending mail -->
				    	<p style="font-size:26px;margin-bottom:10px">Hello {{firstname}} {{lastname}}!</p>
				    	<p style="font-size:18px;color:#333333">We're sorry to hear that you've been having trouble logging into your Akimbo account.</p>
				    	<p style="font-size:16px;color:#333333">We want to get you back up and running quickly, so we've attached a convenient password reset link below.</p>
				    	<a href="{{url('password', {'id': id}) }}" style="text-decoration: none; background-color:#209a8b; color:#fff; font-size:14px; font-weight:bold; border:0;padding:10px 15px">RESET PASSWORD</a>
				   </td> 
				  </tr>
				  <tr>
				  	<td style="font-family:arial; color:#333333; font-size:14px">
				  		<p>If the above button doesn't work properly, simply copy and paste this link into your browser:
				  		<a style="text-decoration:none" href="{{url('password', {'id': id}) }}">{{url('password', {'id': id}) }}</a></p>
				  		<p>
I look forward to seeing your profile, and our team extends a warm welcome to you on our platform.</p>
				  	</td>
				  </tr>
				  <tr>
				  	<td style="font-family:arial; color:#333333; font-size:14px">
				  		 <br>
						- Akimbo Works Team
				  	</td>
			  	</tr>
 			</table>
 		</td>
 	</tr>
 	<tr>
 		<td bgcolor="#2a9d8f" style="padding: 10px">
 			<table>
 				<tr>
 					<td width="65%" style="font-family:arial; font-size:12px; color:#ffffff">
						This email was sent to at. <br>
						You are receiving this email because someone (hopefully you!) used your email address to sign up for Resumes-the place for contractors, and subcontractors. If it wasn’t you, safely disregard this email.
					</td>
					<td align="right">
					  <table border="0" cellpadding="0" cellspacing="0">
					    <tr>
					      <td>
					        <a href="#">
					          <img src="{{images.f}}" border="0" />
					        </a>
					      </td>
					      <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
					      <td>
					        <a href="#">
					          <img src="{{images.t}}"border="0" />
					        </a>
					      </td>
					      <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
					      <td>
					        <a href="#">
					          <img src="{{images.m}}"border="0" />
					        </a>
					      </td>
					      <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
					      <td>
					        <a href="#">
					          <img src="{{images.in}}"border="0" />
					        </a>
					      </td>
					    </tr>
					  </table>
					</td>
 				</tr>
 				<tr>
 					<td >
 						<a href="#" style="font-family:arial; font-size:12px; color:#75bcff;text-decoration:none;font-weight:bold">Unsubscribe</a>
 					</td>
 				</tr>
			</table>
 		</td>
 	</tr>
  
 </table>
 
</body>
</html>