{% extends 'TestBundle::base.html.twig' %}

{% block content %}
    
    <h3>Users list</h3>
    <table>
      <thead>
        <td>User name</td>
        <td>User email</td>
      </thead>
      <tbody>
        {% for item in users %}
            <tr>
              <td>{{item.firstname}} (<a href="{{path('profile', {'id': item.id}) }}">View profile</a>)</td>
              <td>{{item.email}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    
{% endblock %}