{% extends 'TestBundle::base.html.twig' %}

{% block content %}
<div class="container vcenter">
  <div class="login-form">
  {{ form_start(form) }}
    <div class="card row">
      <div class="card-content col s12 row">
        <img class="logo" src="{{ asset('images/logo.png') }}">
        <div class="spacing"></div>
        <div class="spacing"></div>
        <div class="input-field">
          {{form_label(form.password, 'New Password')}}
          {{form_widget(form.password)}}
        </div>
        <div class="card">
          {% if form_errors(form) %}
            <div class="card-content error red white-text">{{form_errors(form)}}</div>
          {% endif %}

        </div>
        {{form_rest(form)}}
        <button type="submit" class="btn teal col s12">Change Password</button>
      </div>
    </div>
  {{ form_end(form) }}
</div>
</div>
{% endblock %}
  
  

