{% extends 'TestBundle::base.html.twig' %}
{% block content %}
  <div class="vcenter-wrap">
    <div class="container vcenter">
      <div class="">
        <div class="row center">
          <h5>Please email <a href="mailto:danielle@akimboconnect.com">Danielle@akimboconnect.com</a>.</h5>
          <h5>More information coming soon.</h5>
        </div>
        <br><br>
        
      </div>
    </div>

  </div>
{% endblock %}