{% extends 'TestBundle::base.html.twig' %}
{% block content %}
  <div id="banner">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="center">Job matching, for talent and culture.</h1>
        <div class="row center">
          <h5 class="header col s12">At Akimbo, we work extra hard to connect diverse talent to awesome companies. Afterall, team work makes the dream work.</h5>
        </div>
        <div class="row center">
          <a href="{{path('builder')}}" class="btn-large waves-effect waves-light teal landing-btn">Job Seeker</a>
          <a href="{{path('hirePage')}}" class="btn-large waves-effect waves-light teal landing-btn">Employers</a>
        </div>
        <br><br>
        
      </div>
    </div>

    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Tell us about who you are and your talents</h5>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">We share opportunities based on your preferences</h5>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Receive job recommendations and connections to inclusive companies</h5>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
{% endblock %}