{% extends 'TestBundle::base.html.twig' %}
{% block content %}
  <div class="container">
    <div class="section">
      <div class="card card-job-search">
        <div class="card-content">
          <div class="row">
            <div class="col s7">
              <div class="input-field">
                <input type="text" name="title" placeholder="Keywords">
              </div>
            </div>
            <div class="col s5">
              <div class="input-field">
                <input type="text" name="location" class="autocomplete-input js-location" placeholder="City/State">
              </div>
            </div>
          </div>
          <div class="job-search-button">
            <button id="search-jobs" class="btn tile waves-effect"><i class="material-icons left">search</i> Search</button>
          </div>
        </div>
      </div>
      <!-- END JOB SEARCH -->


      <div class="job-body" filter="post_salary">
        <div class="card job-filter">
          <div class="item">
            <h4 class="filter-title">Filters</h4>
            <div class="card-content">
              <select name="posted" id="">
                <option value="anytime">Posted anytime</option>
                <option value="1">1 day ago</option>
                <option value="5">5 days ago</option>
                <option value="10">10 days ago</option>
                <option value="14">14 days ago</option>
              </select>
              <select name="salary">
                <option value="any">Any salary</option>
                <option value="9">At least $9/hr</option>
                <option value="10">At least $10/hr</option>
                <option value="11">At least $11/hr</option>
                <option value="12">At least $12/hr</option>
                <option value="15">At least $15/hr</option>
                <option value="20">At least $20/hr</option>
              </select>
            </div>
          </div>

          <div class="item" filter="sort">
            <h4 class="filter-title"><i class="material-icons">sort</i>Sort by</h4>
            <div class="card-content">
              <select name="sort" id="">
                <option value="recent">Most recent</option>
                <option value="paying">Best paying</option>
              </select>
            </div>
          </div>

          <div class="item" filter="schedule">
            <h4 class="filter-title"><i class="material-icons">av_timer</i>Schedule</h4>
            <div class="card-content">
              {% for type in job_types %}
                <div class="section">
                  <input type="checkbox" id="{{ type.jobTypeTitle }}" value="{{ type.id }}">
                  <label class="md-checkbox-label material-checkbox-label" for="{{ type.jobTypeTitle }}">{{ type.jobTypeTitle }}</label>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="item" filter="industry">
            <h4 class="filter-title"><i class="material-icons">business</i>Industries</h4>
            <div class="card-content">
              {% for industry in industries %}
                <div class="section">
                  <input type="checkbox" id="{{ industry.industryName }}" value="{{ industry.id }}">
                  <label for="{{ industry.industryName }}">{{ industry.industryName }}</label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- END JOB FILTER -->

        <div class="card job-list">

          {% if jobs|length > 0 %}

            {% for job in jobs %}
              <div class="item">
                <div class="card-content">
                  <div class="left-part">
                    <h4 class="job-title"><a href="#">{{ job.jobTitle }}</a></h4>
                    <p class="job-ad">{{ job.description }}</p>
                    <div><a href="#" class="job-readmore">Read more &rarr;</a></div>
                    <div class="job-footer">
                      <span class="job-date">{{ job.created.timestamp|date('M d, Y') }}</span>
                      <div class="job-location"><i class="material-icons">location_on</i>{{ job.location }}</div>
                    </div>
                  </div>
                  <div class="right-part">
                    <div class="job-salary">${{ job.salary }}+</div>
                    <a href="#"><img src="https://static1.squarespace.com/static/53863c3fe4b0643327cbaaa1/t/57d8674be4fcb5360f2ca4d2/1473800018145/?format=300w" alt="" class="job-image"></a>
                  </div>
                </div>
              </div>
            {% endfor %}

          {% else %}
            <p>We can't find any jobs.</p>
          {% endif %}

        </div>
        <!-- END JOB LIST -->
      </div>
      <!-- END JOB BODY -->

    </div>
  </div>
{% endblock %}