{% extends 'TestBundle::base.html.twig' %}
{% set disableFooter = true %}

{% block content %}
    
  <div class="container vcenter">
    <form action="{{ path('login') }}" method="post" class="login-form">
      <div class="card row">
        <div class="card-content col s12 row">
          <img class="logo" src="{{ asset('images/logo.png') }}">
          <div class="input-field">
            <label for="email">Enter your email</label>
            <input type="text" id="email" name="_username" value="{{email}}" />
          </div>
          <div class="input-field">
            <label for="password">Enter your password</label>
            <input type="password" id="password" name="_password" />
          </div>
          {% if error %}
            <div class="card">
              <div class="card-content error red white-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
          {% endif %}
          
          <button type="submit" class="btn teal col s12">login</button>
          <div class="spacing"></div> 
          <div class="spacing"></div> 
          <p>Don't have an account? <a href="{{path('builder')}}" >Sign up</a></p>
          <p>Forgot password? <a href="{{path('reset-password')}}" >Reset</a></p>
           
        </div>
      </div>
    </form>
  </div>
    
{% endblock %}