{% extends 'TestBundle::base.html.twig' %}
{% set disableFooter = true %}
{% set activeTemplate = user.template.id %}

{% block content %}
    
<div class="container template-container">
  <div class="section">
    <ul class="preview-bar">
      {% if is_granted('ROLE_ADMIN') %}
        <li><a class="btn-flat" href="{{ path( 'profile_admin', {'id': user.id} ) }}">&larr; Back to profile</a></li>
        <li class="section-download">
          <a class="link-confirm pdf" data-template="1" href="{{ path( 'download-pdf_admin', {'id': user.id} ) }}">{{ './images/pdf.svg' | read_file | raw }}PDF</a>
          <a class="link-confirm docx" data-template="1" href="{{ path( 'download-docx_admin', {'id': user.id} ) }}">{{ './images/docx.svg' | read_file | raw }}DOCX</a>
        </li>

      {% else %}
        <li><a class="btn-flat" href="{{ path( 'profile', {'id': user.id} ) }}">&larr; Back to profile</a></li>
        <li class="section-download">
          <a class="link-confirm pdf" data-template="1" href="{{ path( 'download-pdf', {'id': user.id} ) }}">{{ './images/pdf.svg' | read_file | raw }}PDF</a>
          <a class="link-confirm docx" data-template="1" href="{{ path( 'download-docx', {'id': user.id} ) }}">{{ './images/docx.svg' | read_file | raw }}DOCX</a>
        </li>

      {% endif %}
      {#<li>
        <button class="btn waves-effect waves-light">Publish Resume
          <i class="material-icons right">done</i>
        </button>
      </li>#}
    </ul>

    
    <ul class="js-template-slider">
      <li>
        {% include "TestBundle:ResumeTemplates:#{user.template.name}.html.twig" %}
      </li>

      {% for template in templates %}
        {% if template.id != activeTemplate %}
          <li>
            {% include "TestBundle:ResumeTemplates:#{template.name}.html.twig" %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>





<div class="template-thumbs">
  {#<a class="js-show-template-thumbs close" href="#"><i class="material-icons medium">close</i></a>#}
  <div class="">
    <h4 class="title center-align">Choose <br> your <br> template:</h4>
    {% if is_granted('ROLE_ADMIN') %}
    <ul id="js-slider-pager">
      {% set thumbsCounter = 1 %}

      <li class="pager-item active" data-slide-index="{{thumbsCounter}}" data-path="{{path('set-template-action_admin', {'id': user.id, 'templateId': user.template.id})}}">
        <img src="{{asset(user.template.image)}}" class="responsive-img">
      </li>

      {% for template in templates %}
        
        {% if template.id != activeTemplate %}
          {% set thumbsCounter = thumbsCounter + 1 %}
          <li class="pager-item" data-slide-index="{{thumbsCounter}}" data-path="{{path('set-template-action_admin', {'id': user.id, 'templateId': template.id})}}">
            <img src="{{asset(template.image)}}" class="responsive-img">
          </li>
        {% endif %}
        
      {% endfor %}
    </ul>
    {% else %}
        
    <ul id="js-slider-pager">
      {% set thumbsCounter = 1 %}

      <li class="pager-item active" data-slide-index="{{thumbsCounter}}" data-path="{{path('set-template-action', {'id': user.id, 'templateId': user.template.id})}}">
        <img src="{{asset(user.template.image)}}" class="responsive-img">
      </li>

      {% for template in templates %}
        
        {% if template.id != activeTemplate %}
          {% set thumbsCounter = thumbsCounter + 1 %}
          <li class="pager-item" data-slide-index="{{thumbsCounter}}" data-path="{{path('set-template-action', {'id': user.id, 'templateId': template.id})}}">
            <img src="{{asset(template.image)}}" class="responsive-img">
          </li>
        {% endif %}
        
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

{% endblock %}