{% extends 'TestBundle::base.html.twig' %}

{% block content %}
    
    {% if user is defined %}

      
      <div class="container">
        <div class="section profile-container">

          <div class="row">
            <!-- PROFILE BODY -->
            <div class="col s12 m9">
              <div class="profile-body">
                {% include 'TestBundle:Default:builder/profile-form.html.twig' %}
              </div>
            </div>
            <!-- END PROFILE BODY -->
            <div class="col hide-on-small-only m3">
              <ul class="section table-of-contents">
                <li><a href="#contactDetails" class="active">Contact Details</a></li>
                <li><a href="#summary" class="">Professional Statement</a></li>
                <li><a href="#document" class="">Document</a></li>
                <li><a href="#skills" class="">Skills</a></li>
                <li><a href="#certificates" class="">Certifications</a></li>
                <li><a href="#employment">Work Experience</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#references">References</a></li>
                <li><a href="#jobPreference">Job preferences</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

    {% else %}
      <div class="container">
        <h5>Profile not found</h5>
      </div>
      
    {% endif %}
{% endblock %}
  
  

