{% extends 'TestBundle::base.html.twig' %}

{% block content %}
<div class="container vcenter">
  <form class="login-form" action="{{path('reset-password')}}" method="post">
    <div class="card row">
      <div class="card-content col s12 row">

        <img class="logo" src="{{ asset('images/logo.png') }}">

        <div class="spacing"></div>

        {% for flash in app.session.flashbag.get('ResetSent') %}
          <div class="card-panel teal lighten-2" role="alert">
            {{ flash }}
          </div>
        {% endfor %}
        <div class="spacing"></div>

        <div class="input-field">
          {{form_label(form.email)}}
          {{form_widget(form.email)}}
        </div>
        <div class="card">
          {% if form_errors(form) %}
            <div class="card-content error red white-text">{{form_errors(form)}}</div>
          {% endif %}
          {% if error is defined %}
            <div class="card-content error red white-text">E-mail address {{email}} not registered in our system</div>
          {% endif %}
        </div>
        {{form_rest(form)}}
        <button type="submit" class="btn teal col s12">Reset Password</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
  
  

