/*

Author: Sameer Manek

    Tasks:
    -- Capitalise Industries in the dropdown on registration step 4.
    -- Changing font weight for position in company in workexperience

*/

.mv_rgt{
    margin-left: 25px;
}

.reduce_height{
    line-height: 80%;
}

.reduce_height2{
    line-height: 100%;
}

#Industries .select-wrapper input[type="text"], select{
    text-transform: capitalize;
}

#Industries .select-wrapper ul li{
    text-transform: capitalize;
}

#CompName{
    font-weight: normal;
    color: rgb(0, 137,124);
}
#CompName i{
    color: #333;
    font-style: normal;
}

#addr{
    font-size: 11px;
}

#JobTitle{
    float: left;
}

#JobDesc{
    margin-top: 10px;
    color: #777;
    font-style: italic;
    font-size: 14px;
}

#exp_prd{
    font-weight: 300;
    font-style: italic;
}