
.btn, .btn:hover{
	box-shadow: none;
}
.build-section {
	box-shadow: none;
	font-size: 14px;
	margin:0;
  background: #fff;
  border: 1px solid #ccc !important;
}
.build-section+.build-section {
	margin-top: 20px;
}
.col-profile{
	border: 1px solid #e0e1e2;
	padding: 0 !important;
}
.profile-footer{
	margin-top: 20px;
}
strong{
	font-weight: 700;
}
.build-section.card .card-content .card-title{
	font-weight: 700;
}

.build-section .card-action {
	border-top: 0;
}


.profile-container {
  padding-top: 50px;
}

.profile-heading {
  text-transform: capitalize;
}

.profile-body {
  background: transparent;
  border: 0;
}


.btn, .btn:hover{
  box-shadow: none;
}


.build-section.card .card-content .card-title{
  line-height: normal;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #00897b;
  padding-bottom: 10px;
  display: inline-block;
}
.build-section .card-content{
  /* min-height: 200px; */
  border-radius: 0;
}


.table-of-contents {
  padding: 0;
  margin: 0;
}
.table-of-contents.fixed{
  position: fixed;
  top: 100px;
}
.build-section .edit-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 10px;
  font-size: 13px;
  /* display: none; */
  color: #666;
}
.build-section:hover .edit-btn{
  display: block;
}
.build-section .edit-btn .material-icons{
  font-size: 14px;
  margin-right: 5px;
}

.col-profile{
  border: 1px solid #e0e1e2;
  padding: 0 !important;
}
.profile-footer{
  margin-top: 20px;
}
strong{
  font-weight: 700;
}
.build-section.card .card-content .card-title {
  font-weight: 700;
}

.build-section .open-actions-btn {
  display: none;
}

.build-section.edit-mode .card-action,
.build-section.edit-mode .editable-content {
  display: block;
}

.build-section.edit-mode .viewable-content,
.build-section.edit-mode .edit-btn {
  display: none;
}


.build-section.view-mode .card-action,
.build-section.view-mode .editable-content {
  display: none;
}
.build-section.view-mode .viewable-content{
  display: block;
}
.build-section.view-mode .open-actions-btn {
  display: inline-block;
}

.trumbowyg-box {
	padding-top: 0;
}
.trumbowyg-button-pane {
	position: relative;
	overflow: hidden;
}
.trumbowyg ul {
  padding-left: 20px;
}

.btn-close-error {
	background: transparent;
	border: 1px solid #58D5C5;
	color: #58D5C5;
}
.btn-close-error:hover {
	background: transparent;
	color: #fff;
	border-color: #fff;
}
.help-text .heading {
	font-size: 1.5em;
}
.help-text ul li {
	margin-top: 1em;
	list-style-position: inside;
	list-style-type: disc;
}

.profile-badge {
  width: 100%;
  max-width: 100px;
  display: block;
  padding-right: 20px;
}


.autocomplete {
  position: relative;
}
.autocomplete .ac-dropdown {
  opacity: 1;
  max-height: 200px;
  width: 100%;
}



.profile-contact-title {
  font-size: 2em;
  margin-top: -5px;
}

.profile-data {
  margin-top: 50px;
}

.profile-item {
  border-top: 1px dotted #aaa;
  margin-top: 10px;
  padding: 10px 0 0;
}
.profile-item.inline {
  display: inline-block;
  border: 1px solid #051E4A;
  padding: 5px 15px;
  margin: 10px 0;
  margin-right: 10px;
  background: #FFFFFF;
}


.profile-item .material-icons {
  vertical-align: middle;
}

.profile-item-header {
  margin: 0 -20px;
  padding: 0 20px;
}

.profile-item-header .profile-item-title {
  margin: 0;
  font-size: 1.2em;
  color: #444;
  font-weight: bold;
}
.profile-item-content {
  margin: 5px 0;
}
.profile-item.block .col {
  margin-bottom: 5px;
}
.profile-item-title {
  font-size: 1.2em;
}



.profile-fieldset>ul {
  margin: 0;
}

.profile-list-inline {
  margin: 0;
}
.profile-list-inline .icon {
  margin-right: 10px;
  height: 1.5em;
  vertical-align: middle;
}

.profile-list-inline li {
  display: inline-block;
}
.profile-list-inline li + li {
  margin-left: 5px;
}
.profile-list-inline li::after {
  content: ",";
}
.profile-list-inline li:last-child::after,
.profile-list-inline .profile-item.inline::after {
  content: "";
  margin-right: 0;
}

.profile-list-inline .profile-item.inline {
  border-color: #aaa;
  border-radius: 4px;
  margin-right: 0;
  margin-left: 10px;
}



/* PREVIEW SLIDER */

.template-container .bx-wrapper .bx-controls-direction a {
  top: 40vh;
}


.template-thumbs {
  position: fixed;
  padding-top: 13px;
  // background: #fff;
  // border-left: 1px solid #222;
  // bottom: -250px;
  top: 65px;
  right: 0;
  width: 150px;
  height: 100%;
  overflow-y: auto;
  transition: bottom 0.5s, transform 0.5s;
  // -ms-transform: scale(0, 0);
  // transform: scale(0, 0);  
  // -webkit-transform: scale(0, 0);
  z-index: 9999;
  text-align: center;
}
.template-thumbs.left {
  left: 0;
  right: auto;
}
.is-template-thumbs-shown .template-thumbs {
  z-index: 9999;
  bottom: 0;
  -ms-transform: scale(1,1);
  transform: scale(1,1);  
  -webkit-transform: scale(1,1);
}
.template-thumbs ul {
  margin: 0;
  // margin-left: -30px;
}
.template-thumbs .title {
  margin: 0;
  margin-bottom: 20px;
  // margin-left: 30px;
  font-size: 16px;
}

.template-thumbs .close {
  position: absolute;
  color: #222;
  right: 0;
  top: 0;
  font-size: 24px;
  padding: 5px 10px;
}

.template-thumbs .pager-item {
  display: block;
  cursor: pointer;

}



.template-thumbs img {
  border: 2px solid transparent;
  width: 120px;
  margin-bottom: 10px;
}
.template-thumbs .pager-item.active img {
  border-color: #444;
}

.template-thumbs .thumb-title span {

  font-size: 1.2rem;
  text-transform: capitalize;
  color: #222;
}

.section-download {
  padding-right: 15px;
  line-height: 36px;
}
.section-download svg {
  width: auto;
  margin-left: 15px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.preview-bar {
  padding: 10px 0;
  margin: 0;
  text-align: right;
}
.preview-bar li {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

svg path {
  transition: 0.25s;
}
.link-confirm.pdf:hover path {
  fill: #f44336;
}
.link-confirm.docx:hover  path {
  fill: #3637F4;
}



.link-confirm {
  margin-left: 15px;
  color: #444;
  text-decoration: none;
  transition: 0.25s;
}

.link-confirm.pdf:hover {
  color: #f44336;
}
.link-confirm.docx:hover {
  color: #3637F4;
}