/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html {
  height: 100%;
}
body {
  min-height: 100%;
	background-color: #f4f4f4;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
html.pdf-html {
  height: auto;
}
html.pdf-html body {
  min-height: 0;
}
form p {
  text-align: inherit;
}
.bullets-enabled ul {
  padding-left: 20px;
}
.bullets-enabled ul li {
  list-style-type: disc;
}
.bullets-enabled ol {
  padding-left: 20px;
}
.bullets-enabled ol li {
  list-style-type: decimal;
}

#logo-container {
  padding: 10px 0;
  height: 100%;
  position: static;
}
#logo-container img {
  height: 100%;
}

footer.page-footer {
  padding-top: 0;
  margin-top: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #007AC2;
}
.spacing{
	clear: both;
	height: 10px;
}
.spacingx2{
  height:20px;
}
.spacingx3{
  height:30px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
nav ul a, nav .brand-logo {
    color: #444;
}

#banner{
  min-height: 846px;
  background-image: linear-gradient(-45deg, #99a7ff 0%, #99ecff 15%, #99f8ff 20%, #a5ff99 60%, #e8ff99 75%, #f8ff99 80%, #fff199 90%, #ffd399 100%);
}
.steps-container{

}
.template-cards{

}
.template-cards .card-content{
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	background-color: #009688;
	position: absolute;
	top: calc(100% - 16px);
	left: 0;
	width: 100%;
	padding: 10px 16px;
	color: #fff;
	font-size: 15px;
	line-height: 1.6em;
	margin: 0;
	z-index: 10;
}	

.template-cards .mc-card {
	position: relative;
	height: 0;
	padding-bottom: calc(100% - -40px);
	margin-bottom: 4.6em;
}
.template-cards .mc-card:hover .img-container{
	box-shadow:0 0 7px 1px rgba(0, 0, 0, .14);
	top:-3px;
}

.template-cards .card-title{
	color: #fff
}
.template-cards .card-content span{
	display: block;
}
.template-cards .card-content:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: -16px;
  width: 0;
  border: 8px solid;
}
.template-cards .card-content:before {
  border-top-color: transparent;
  border-right-color: #004D40;
  border-bottom-color: #004D40;
  border-left-color: transparent;
}

.template-cards .mc-content{
	position: absolute;
    right: 0;
    top: 0;
    bottom: 16px;
    left: 16px;
}
.template-cards .img-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.select-overlay{
    background-color:rgba(0,0,0,.65);
    opacity: 0;
    position: absolute;
    display: inline-block;
    z-index: 5;
    padding:2px 4px;
    font-size: 13px;
    right: 0;
    color: #fff;
    top:0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.template-cards .mc-card:hover .select-overlay{
	opacity: 1;
	top:-3px;
}
.select-overlay .material-icons{
	position: relative;
	top: 2px;
}


.cancel-btn{
  color: #00897b;
}
.s-title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.s-title .material-icons{
  color: #666;
}
.s-title .material-icons, .btn-small i{
  vertical-align: bottom;
}
.s-item{
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.s-actions{
  position: absolute;
  right: 20px;
}
.s-actions .material-icons{
  font-size: 14px;
}
.btn-small{
  font-size: 11px;
  padding:2px 8px;
  line-height: normal;
  height: initial;
  font-weight: 400;
  background-color: #2185D0;
  text-transform: none;
}
.btn-small:hover{
 background-color: #1678c2; 
}
.btn-small i{
  font-size: 15px;
}
.delete-btn{
  background-color: #e0e1e2;
  color: #666;
}
.delete-btn:hover{
  background-color: #cacbcd;
  color: #222;
}


/** FIXES for error messages https://github.com/Dogfalo/materialize/issues/1562*/
.select-wrapper + label {
  top: 0.8rem;
}
.input-field label {
    width: 100%;
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
}
.input-field .error {
  position: absolute;
  top: 47px;
  font-size: 0.8rem;
  color: #F44336;
  opacity: 0;
  transition: .2s opacity ease-out, .2s color ease-out;
}
.input-field .error.visible {
  opacity: 1;
}

/*Added Sep 05*/
.l-separator{
  color: #ccc;
  font-size: 16px;
  display: inline-block;
  margin: 0 6px;
}

.btn-simple, .btn-simple:hover{


  background: #fff;
  border: 1px solid #aaa;
  color: #444;

}
.btn-simple:hover{
  background-color: #cacbcd;
  color: #222;
}




.profile__main-title {
  margin: 0;
}
.fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
#resumeform {
  margin-top: 50px;
}
#resumeform > div+div {
  margin-top: 3rem;
}
#resumeform .input-field input {
  margin-bottom: 0;
}
#resumeform > ul {
  background: #CE0000;
  color: #fff;
  padding: 25px;
  border:  3px solid #880000;
}
#resumeform > ul >li+li {
  margin-top: 20px;
}
#resumeform label {
  font-size: 1rem;
  left: 0;
}
.top-nav {
  background: #2E579C;
  margin-bottom: 50px;
}

.fieldset fieldset {
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 60px;
  position: relative;
}


form .add_fieldset {
  /* margin-top: 20px; */
}
form .remove_fieldset {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0 15px;
}
form .remove_fieldset {
  margin-top: 20px;
}


textarea {
  border-color: #ddd;
  height: 200px;
}





.primary {
  background: #2E579C;
}

.btn.primary:hover {
  background: #5889DC;
}

.bx-wrapper {
  overflow: hidden;
}
.bx-wrapper .bx-viewport {
  background: transparent;
  border: 0;
  box-shadow: none;
}


strong.strong500 {
  font-weight: 500;
}


.card-job-search {
  position: relative;
  padding-right: 160px;
}
.card-job-search .card-content {
  padding-top: 0;
  padding-bottom: 0;
}
.card-job-search .input-field {
  /* margin-top: 0; */
}
.card-job-search .col {
  padding-right: 40px;
}
.card-job-search .row {
  margin-bottom: 0;
}

.job-search-button {
  position: absolute;
  top: 25px;
  right: 20px;
}

.job-search-button {
  width: 140px;
}
.job-search-button .btn {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.job-body {
  overflow: hidden;
}
.job-filter {
  float: left;
  width: 250px;
  font-size: 14px;
}
.job-filter .card-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-title {
  margin: 0;
  padding: 15px 20px;
  font-size: 1em;
  background: #E3E3E3;
}
.job-filter .select-wrapper input.select-dropdown {
  margin-bottom: 0;
  border-bottom-color: transparent;
  font-size: 1em;
}
.job-filter .section + .section {
  padding-top: 0;
}

.job-filter [type="checkbox"] + label,
.job-filter .dropdown-content li > a, .dropdown-content li > span {
  font-size: 1em;
}
.filter-title .material-icons {
  /* vertical-align: middle; */
  position: relative;
  top: 2px;
  margin-right: 5px;
  font-size: 1em;
}

.job-list {
  margin-left: 270px;
  font-size: 13px;
}
@media (max-width: 1100px) {
  .job-filter {
    float: none;
    width: 100%;
  }
  .job-list {
    margin-left: 0;
  }
}


.job-list .card-content {
  color: #777;
}

.job-title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.4em;
  font-weight: bold;
}
.job-title a {
  color: #3A4140;
}
.job-ad {
  font-size: 1em;
}
.job-readmore {
  margin: 0.5em 0 1em;
  color: #3A4140;
  display: inline-block;
}
.job-location {
  margin-top: 0.25em;
}
.job-location .material-icons {
  color: #777;
  font-size: 1em;
  position: relative;
  top: 1px;
  margin-right: 0.5em;
}
.job-footer {
  color: #aaa;
  margin-bottom: 0.5em;
}

.job-industry::before {
  content: "•";
  margin: 0 7px 0 5px;
}

.job-image {
  display: block;
  width: 100%;
}

.job-list .item {
  overflow: hidden;
  position: relative;
}
.job-list .item + .item {
  border-top: 1px solid #ddd;
}
.job-list .item .left-part {
  padding-right: 170px;
}
.job-list .item .right-part {
  width: 150px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.job-salary {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 10px;
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 0.05em;
  background: rgba(0,0,0,0.85);
  opacity: 0.8;
}

.login-form {
  width: 400px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
}
.login-form .logo {
  max-width: 100%;
  margin-bottom: 30px;
}
.input-field {
  text-align: left;
}
.vcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.btn-large {
  box-shadow: none !important;
  text-shadow: none;
}
.landing-btn {
  margin-top: 50px;
  font-size: 20px;
  width: 200px
}
.landing-btn + .landing-btn {
  margin-left: 25px;
}