{% extends 'TestBundle::base.html.twig' %}
{% set disableTopbar = true %}
{% set disableFooter = true %}
{% set pdf = true %}

{% block content %}
    
{% include "TestBundle:ResumeTemplates:#{template}.html.twig" %}
{% endblock %}