<div class="container">
  {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form', 'class': 'col s12', 'autocomplete': 'false'}}) }}
    <div class="section">
      
      {% include 'TestBundle:Default:builder/first-steps/mdl-card.html.twig' %}
      
      <ul class="steps-container">
        <!-- Resume templates -->

        <li class="row template-cards step-content active">

          {% if form_errors(form) %}
            <div class="center-align">
              {% for error in form.vars.errors %}
                  
                {% if error.message == "This E-Mail address has already been registered" %}
                  The email address has already been registered. Try <a href="{{path('login')}}">signing in</a> or <a id="GoToStep3" href="#">using another email address</a>.
                {% else %}
                  {{ error.message }}  
                {% endif %}
                
              {% endfor %}
            </div>
            <div class="spacing"></div>
            <div class="spacing"></div>
            <div class="spacing"></div>
          {% endif %}

          <div>
            <h5 class="center-align">Step 1: Please tell us about yourself.<br>Are you associated with any of the following organizations ?<br><br>  <span style="font-size: medium">
              <a  class="mc-card" href="#">skip</a>

              for now, or <a href="{{ path('login') }}">log in</a> if you have an account.</span>



            </h5></div>
          <div class="spacing"></div>
         
        </li>
        <!-- Resume templates ends-->

        <!-- Step 2 -->
        <li class="step-content enter-name">
          <div>
            <h5 class="center-align">Step 2: What's your name?</h5>
          </div>
          <div class="form-container-sm">
            <div class="row">
              <div class="input-field col s6">
                {{ form_widget(form.firstName) }}
                {{ form_label(form.firstName) }}
              </div>
              <div class="input-field col s6">
                {{ form_widget(form.lastName) }}
                {{ form_label(form.lastName) }}
              </div>
            </div>
            <div class="row form-buttons">
              <a class="btn-flat js-slider-prev" href="#" >Back</a>
              <div class="btn waves-effect waves-light js-slider-next">Next
              <i class="material-icons right">send</i>
              </div>
            </div>
          </div>
        </li>
        <!-- Step 2 ends-->
        <!-- Step  step 3 -->
        <li class="step-content enter-email">
          <div>
            <h5 class="center-align">Step 3: What's your email?</h5>
          </div>
          <div class="spacing"></div>
          <div class="form-container-sm">
            <div class="row">
              <div class="input-field col s12">
                {{ form_widget(form.email) }}
                {{ form_label(form.email) }}
                <div id="uniqueEmailError" class="error">The email address has already been registered. <br>Try <a href="{{path('login')}}">signing in</a> or using another email address</div>
              </div>
            </div>
            <div>
              <h5 class="center-align">Now, create a password below:</h5>
            </div>
            <div class="row">
              <div class="input-field col s12">
               {{ form_widget(form.password) }}
               {{ form_label(form.password) }}
              </div>
            </div>
            <div class="row form-buttons">
              <a class="btn-flat js-slider-prev" href="#" >Back</a>
              <div class="btn waves-effect waves-light js-slider-next">Next
              <i class="material-icons right">send</i>
              </div>
            </div>
          </div>
        </li>
        <!-- Step  step 3 ends-->
        <!-- Step 4 -->
        <li class="step-content select-category">
          <div>
            <h5 class="center-align">Step 4: Please select your preferred industry.</h5>
          </div>
          <div class="form-container-sm">
            <div class="row">
              <div class="input-field col s12" id="Industries">
                  {{ form_widget(form.industry) }}
              </div>
            </div>
            <div class="row form-buttons">
              <a class="btn-flat js-slider-prev" href="#" >Back</a>
              <button class="btn waves-effect waves-light" type="submit">Build Your Resume
              <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </li>
        <!-- Step 4 ends-->
        
        <div class="clearfix"></div>
      </ul> <!-- ./ .steps-container -->
    </div>
  {{ form_row(form._token) }}
  {{ form_end(form, {'render_rest': false}) }}
</div>