{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form', 'autocomplete': 'false'}}) }}



<!-- IF FORM SUBMITTED -->
{% if form.vars.submitted %}


  <!-- IF FORM HAS ERRORS -->
  {% if form_errors(form) %}
  <div class="card build-section scrollspy teal darken-1 white-text">
    <div class="card-content help-text">
    {% if form.children.goToPreview.vars.clicked %}
      <p class="heading">Before you can preview and publish your resume, please fill out correct all needed fields. There are tips, that will help you:</p>
    {% else %}
      <p class="heading">Sorry, your resume can't be updated because:</p>
    {% endif %}
      <div class="viewable-content">
        {{ form_errors(form) }}
      </div>
  <!-- END FORM ERRORS -->
  {% else %}
    <div id="isProfileUpdated" class="card build-section scrollspy teal darken-1 white-text">
      <div class="card-content help-text">
        <p class="heading">Your resume succesfully updated!</p>  
  {% endif %}

    </div>
    <!-- End card-content -->
    <div class="card-action actions right-align">
      <div class="btn btn-close-error js-close-error">OK, GOT IT!</div>
    </div>
  <!-- End card-action -->
</div>
{% endif %}


{% include 'TestBundle:Default:builder/build-sections/contact-details.html.twig' %}
{% include 'TestBundle:Default:builder/build-sections/summary.html.twig' %}
{% include 'TestBundle:Default:builder/build-sections/document.html.twig' %}
{% include 'TestBundle:Default:builder/build-sections/skills.html.twig' %}
{% include 'TestBundle:Default:builder/build-sections/work-exp.html.twig' %}
{% include 'TestBundle:Default:builder/build-sections/education.html.twig' %}
{% include 'TestBundle:Default:builder/build-sections/references.html.twig' %}
{% include 'TestBundle:Default:builder/build-sections/job-preference.html.twig' %}







<div class="">
  <div class="section">
    <div class="spacing"></div>
    <div class="left">
      {% if user.isConfirmed == false %}
        <a href="{{url('sendconfirm', {'key': user.confirm.activationkey}) }}" class="link-confirm">Send confirmation again</a>
      {% endif %}
    </div>
    <div class="right">
      {{form_row(form.goToPreview)}}
    </div>
    {#<button type="submit" class="btn waves-effect waves-light right"><i class="material-icons left">visibility</i> Preview Resume</button>#}
    <div class="clearfix"></div>
  </div>
  <!-- End card-action -->
</div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}


