<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text" id="stepper">
    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step active-step step-1" >
        <div class="mdl-stepper-circle" ><span style="color: transparent">1</span></div>
        <div class="mdl-stepper-title">About You</div>
        <!-- <div class="mdl-stepper-optional">Optional</div> -->
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step  step-2">
        <div class="mdl-stepper-circle"><span style="color: transparent">2</span></div>
        <div class="mdl-stepper-title">Enter Name</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step  step-3">
        <div class="mdl-stepper-circle"><span style="color: transparent">3</span></div>
        <div class="mdl-stepper-title">Enter Email</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step step-4">
        <div class="mdl-stepper-circle"><span style="color: transparent">4</span></div>
        <div class="mdl-stepper-title">Select Industry</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step step-5">
        <div class="mdl-stepper-circle"><span style="color: transparent">5</span></div>
        <div class="mdl-stepper-title">Build Profile</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
    </div>
  </div>
</div>
<!-- End mdl-card -->