  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">Traditional</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/1.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">All Points</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/red.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">True Red</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/11.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">Three Blocks</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/13.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">Light Blue</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/15.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">Doppio</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/22.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">New Grid</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/25.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">All Points</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/red.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">True Red</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/11.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">Three Blocks</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/13.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">Light Blue</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/15.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">Doppio</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/22.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>

  <div class="col m4 s12 l3">
    <div class="mc-card">
      <h2 class="card-content">
      <a href="#"><span class="card-title activator text-darken-4">New Grid</span></a>
      </h2>
      <div class="mc-content">
        <div class="img-container">
          <a href="#"><img src="{{asset('templates/25.png')}}" class="responsive-img"> </a>
        </div>
        <div class="select-overlay">
          <i class="tiny material-icons">done</i> Select
        </div>
      </div>      
    </div>
  </div>
  
